.score-grid {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid rgba(169, 169, 169, 0.03);
    border-radius: 5px;
    margin-inline: 3px;
}

.upload-score-button-div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 10px;
}

.upload-score-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-inline: 30%;
    padding-top: 8%;
    gap: 30px;
}

.upload-score-form {
    display: grid;
    gap: 5px;
}

.score-details {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    font-size: 14px;
}

.score-name-div {
    color: rgba(255, 255, 255, 0.656);
}

.score-author-div {
    color: rgba(255, 255, 255, 0.896);
}