.score-container {
    height: 100vh;    
}

#score {
    text-align: center;
    height: 200vh;
}

#score svg {
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(76, 38, 109, 0.753);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}