.edit-header {
    text-align: center;
}

.edit-container {
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.edit-form-div {
    width: 50%;
    margin-top: 50px;
}

@media screen and (max-width: 736px) {
    .edit-form-div {
        width: 80%;
    }
  }

.edit-form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    overflow: hidden;
    gap: 5px;
}