.file-grid {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid rgba(169, 169, 169, 0.03);
  border-radius: 7px;
  margin-inline: 5px;
}

.file-inner-grid {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  padding: 0.3rem;
  padding-inline: 0.6rem;
}

.file-details {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  font-size: 14px;
}

.file-name-div {
  color: rgba(255, 255, 255, 0.656);
}

.file-author-div {
  color: rgba(255, 255, 255, 0.697);
}

.file-title-button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  text-align: start;
}

.file-title {
  overflow-x: hidden;
  display: inline-flex;
  gap: 1rem;
  align-items: start;
  text-decoration: none;
}

.file-title-button {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.file-duration-div {
  color: rgba(255, 255, 255, 0.697);
}

.file-edit {
  text-align: end;
}

.file-edit i {
  text-decoration: none;
  color: white;
  display: flex;
}

.file-edit a {
  border: none;
  border-radius: 50%;
}

.file-edit a:hover {
  border: none;
  background-color: #464646;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}