.app-nav {
  padding: 0.8rem;
  padding-inline: 2vw;
}

.navbar-brand {
  margin-left: 3px;
}

.logo-header {
  display: flex;
}

.navbar-content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .app-nav {
    padding-inline: 4.5vw;
  }
}