.app-nav {
  margin-top: 0.6rem;
  padding: 0.8rem;
  padding-inline: 3vw;
}

.navbar-brand {
  margin-left: 3px;
}

.logo-header {
  display: flex;
}

@media screen and (max-width: 786px) {
  .app-nav {
    padding-inline: 7vw;
  }
}