.app-nav {
  padding: 0.8rem;
  padding-inline: 2vw;
}

.navbar-brand {
  margin-left: 3px;
}

.logo-header {
  display: flex;
}

.navbar-content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
  padding-inline: 4px;
  width: 100%;
}

#hamburguer {
  border: 0;
}



.search-div {
  position: relative; 
}

.search-input {
  padding-left: 30px;
  width: 100%;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.route-icon {
  margin-right: 4px;
}


@media screen and (max-width: 767px) {
  .app-nav {
    padding-inline: 4.5vw;
  }
  
  .collapsing .navbar-content,
  .show .navbar-content {
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
    padding: 15px;
  }

  .nav-link {
    text-align: start;
    padding-inline: 8px;
  }

  .nav-link:hover {
    background: #2f353b;
  }

  .navbar-nav .router-link-active {
    background: #323c45;
  }

  .routes-div {
    width: 100%;
  }

  .navbar-nav {
    gap: 2px;
  }

  .search-div {
    width: 100%;
  }
}