.player-controls {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: rgb(17, 1, 29);
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 1.2rem;
    border-top: 2px solid rgb(38, 9, 80);
}

#progress-bar {
    cursor: pointer;
    background: #878787;
    outline: none;
    border-radius: 10px;
}

#time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    font-size: 0.8rem;
}

.buttons-div {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.no-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-button {
    border: 0;
}

.play-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button {
    border: 0;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.close-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-button {
    border: 0;
}