.upload-header {
  display: grid;
  grid-template-columns: 7% 85% 8%;
  text-align: center;
  align-items: center;
}

.upload-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 50px;
    overflow: hidden;
    max-width: fit-content;
  }
  
  .upload-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }