.upload-header {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin-top: 20px;
  gap: 10px;
}

.upload-container {
  display: grid;
  grid-auto-flow: row;
  overflow: hidden;
  max-width: 50%;
}

@media screen and (max-width: 736px) {
  .upload-container {
    max-width: 80%;
  }
}

.upload-form {
  margin-top: 4rem;
  display: grid;
  gap: 5px;
  color: #9c65d736;
}

.file-input-hidden {
  opacity: 0;
  position: absolute;
  left: -9999px;
}


#submit-button {
  margin-top: 10px;
}

.progress-header-div {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
}