:root {
  --audio-row: #101010;
  --logo-color: #986fc5f2;
}

body {
  height: 100%;
  color: white;
  min-height: 800px;
  font-family: "Mulish", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
  font-optical-sizing: auto;
  background-color: #0b0b0b;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.206);
  border-top: 3px solid #1764b1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-div {
  display: flex;
  height: 15rem;
  justify-content: center;
  align-items: start;
  margin-top: 1.1rem;
  color: rgba(255, 255, 255, 0.531);
}

.go-back-button {
  display: flex;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.go-back-button:hover {
  background-color: #33393e;
  border-radius: 50%;
}