:root {
  --audio-row: #101010;
  --audio-row-hover: #151515;
  --logo-color: #9b7abf22;
}

body {
  height: 100%;
  color: white;
  min-height: 800px;
  font-family: "Mulish", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-kerning: auto;
  font-optical-sizing: auto;
  -webkit-font-kerning: auto;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  background-color: #101010;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.206);
  border-top: 3px solid #1764b1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-div {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: start;
  margin-top: 1.1rem;
  color: rgba(255, 255, 255, 0.531);
}